<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="codepath.assignment.twitterclient"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-sdk
        android:minSdkVersion="12"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="codepath.assignment.twitterclient.activities.LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="rockstone.me"
                    android:scheme="http" />
            </intent-filter>
        </activity>
        <activity
            android:name="codepath.assignment.twitterclient.activities.TimelineActivity"
            android:label="@string/title_activity_timeline" >
        </activity>
        <activity
            android:name="codepath.assignment.twitterclient.activities.ComposeActivity"
            android:label="@string/title_activity_compose" >
        </activity>
        <activity
            android:name="codepath.assignment.twitterclient.activities.ProfileActivity"
            android:label="@string/title_activity_profile" >
        </activity>
    </application>

</manifest>